﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row text-center">
    <div class="col">
        <h1>Welcome to Thumbnailer</h1>
    </div>
</div>

<div class="row text-center">
    <div class="col col-6 offset-3">
        <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-page="/Thumbnail">Thumbnail generation</a>
        <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-page="/Optimize">Media optimization</a>
    </div>
</div>

<div class="row text-left">
    <div class="col">
        <h2>What is Thumbnailer?</h2>
        <p>
            Thumbnailer is a web service which exposes endpoints to generate file thumbnails and to optimize media
            files.
        </p>
        <p>
            Some supported file formats are:
        </p>
        <ul>
            <li>HTML documents (HTML, remote URLs)</li>
            <li>Images (PNG, JPG, SVG, WEBP, BMP, GIF)</li>
            <li>Office files (DOC/DOCX, XLS/XLSX, PPT/PPTX, ODT, ODS, ...)</li>
            <li>Printable documents (PDF, EPS, ...)</li>
            <li>RAW files (RAW, DNG, ...)</li>
            <li>Text files and source code</li>
            <li>Video files (MP4, AVI, MKV, ...)</li>
        </ul>
        <p>
            Please find further information on
            <a href="https://gitlab.com/pommalabs/thumbnailer/" target="_blank" rel="noopener">
                GitLab project page <span class="slim-material-icon">open_in_new</span>
            </a>.
        </p>
    </div>
</div>

@section Scripts
{
<script>
    function onRecaptchaLoaded() {
        // Nothing to do.
    }
</script>
}