﻿@page "/optimize"
@model OptimizeModel
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@{
    ViewData["Title"] = "Media optimization";
}

<div class="row text-center">
    <div class="col">
        <h1>Optimize your media files</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <form id="thumbnailer-dropzone" action="/api/v1/optimize?responseType=base64" method="post"
            class="dropzone dz-clickable">
            <div class="dz-message d-flex flex-column">
                <i class="material-icons text-muted">cloud_upload</i>
                Drag &amp; Drop here or click to start optimizing media files.
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-6 offset-3 text-center">
        <form id="recaptcha-apikey-form" action="@Url.Page("RecaptchaToApiKey")" class="d-inline-flex">
            @Html.AntiForgeryToken()

            <button id="recaptcha-apikey-submit" type="submit" class="btn btn-primary btn-lg ml-1 g-recaptcha"
                data-sitekey="@RecaptchaSettings.Value.SiteKey" data-callback="onRecaptchaValidated">
                Optimize!
            </button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-8 offset-2 text-center">
        <p>
            This site is protected by reCAPTCHA and the<br />Google
            <a href="https://policies.google.com/privacy" target="_blank" rel="noopener">Privacy Policy <span
                    class="slim-material-icon">open_in_new</span></a> and
            <a href="https://policies.google.com/terms" target="_blank" rel="noopener">Terms of Service <span
                    class="slim-material-icon">open_in_new</span></a> apply.
        </p>
    </div>
</div>

<div class="row text-left">
    <div class="col">
        <h2>What is media optimization?</h2>
        <p>
            Media optimization is about reducing the file size of your media files as much as possible
            without sacrificing quality, so that your page load times and server bandwidth usage remain low.
        </p>
        <p>
            Optimized media files are visually comparable to original ones, yet their size is much smaller.
        </p>
    </div>
</div>

@section Scripts
{
<script>
    window.appData.operationType = "MediaOptimization";
    Dropzone.options.thumbnailerDropzone.acceptedFiles = "image/gif,image/jpeg,image/png,image/svg,image/webp,video/mp4";

    function disableRecaptchaApiKeySubmitButton() {
        $("#recaptcha-apikey-submit").attr("disabled", true);
    }

    function enableRecaptchaApiKeySubmitButton() {
        $("#recaptcha-apikey-submit").removeAttr("disabled");
    }

    function onRecaptchaLoaded() {
        disableRecaptchaApiKeySubmitButton();
    }

    function onRecaptchaValidated() {
        // Convert the reCAPTCHA token into a temporary API key.
        $.ajax({
            type: "POST",
            url: "@Url.Page("RecaptchaToApiKey")",
            data: $("#recaptcha-apikey-form").serialize(),
            success: function (apiKey) {
                if (apiKey.isValid) {
                    console.debug("Temporary API key is valid: %s", apiKey.value);
                    window.appData.apiKey = apiKey.value;

                    window.appData.outputZip = new JSZip();

                    console.debug("Processing queue using temporary API key");
                    window.appData.thumbnailerDropzone.processQueue();
                } else {
                    console.debug("Temporary API key is invalid");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }
        });

        return false;
    };
</script>
}