﻿html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Bootstrap customizations */

.row {
    margin-top: 1rem;
}

/* Dropzone styles */

.dropzone {
    border: 2px dashed #dedede;
    border-radius: 5px;
    background: var(--light);
}

    .dropzone i {
        font-size: 5rem;
    }

    .dropzone .dz-message {
        color: var(--gray);
        font-weight: 500;
        font-size: initial;
        text-transform: uppercase;
    }

/* reCAPTCHA styles */

.grecaptcha-badge {
    visibility: hidden;
}

/* Material icons */

.slim-material-icon {
    font-family: 'Material Icons';
}